/* =========RESET=========== */
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* ===========STYLES===================== */
body {
  font-family: "Roboto", "FF DIN", sans-serif;
  color: var(--body-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
:root {
  --body-color: #434455;
  --navy-blue: #2e2f42;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}
.container {
  width: 100%;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
/* --------HEADER--------- */
.header {
}
.header-wrap {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--cornflower);
}
.logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
.logo-text-right {
  color: var(--navy-blue);
}
.nav {
  padding: 24px 156px;
  display: flex;
  gap: 76px;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item-text {
  font-weight: 500;
  color: var(--navy-blue);
}
.nav-item-text:hover {
  color: var(--ocean);
}
.nav-item-text:focus {
  color: var(--ocean);
}
.nav-item-text:active,
.active {
  color: var(--ocean);
  border-bottom: 4px solid var(--ocean);
  border-radius: 2px;
}
.address {
  padding: 24px 156px;
  flex-grow: 1;
}
.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.mail-link:hover {
  color: var(--ocean);
}
.mail-link:focus {
  color: var(--ocean);
}
.address-item-text {
  color: var(--body-color);
}

/* --------HERO--------- */
.hero {
  background-color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 188px 473px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white);
  /* padding: 188px 473px 48px 473px; */
  /* flex-grow: 1; */
}
.hero-btn {
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* display: inline-block; */
  /* margin: 0 635px 188px 636px; */
  margin: 48px 163px 0 163px;
  padding: 16px 32px;
}
.hero-btn:hover {
  background-color: var(--ocean);
}
/* --------OUR FEATURES--------- */
.features {
  padding: 120px 156px;
}
.features-list {
  display: flex;
  gap: 24px;
  /* padding: 120px 0; */
  flex-wrap: wrap;
  justify-content: center;
}
.features-item {
  width: 264px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.features-text {
  margin-top: 8px;
}
/* --------DOING--------- */
.doing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 156px 120px 156px;
}
.doing-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.doing-image {
  border: 1px solid var(--cornflower);
  display: block;
}
/* --------TEAM--------- */
.team {
  background-color: var(--cloud);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 156px 120px 156px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* padding-bottom: 120px; */
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-top: 32px;
  margin-bottom: 8px;
}
/* --------FOOTER--------- */
.footer {
  background-color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 100px 1020px 100px 156px;
}
.footer-logo {
  /* margin-left: 156px;
  margin-top: 100px; */
}
.footer-text {
  color: var(--cornflower);
  width: 264px;
  /* margin-left: 156px;
  margin-bottom: 100px; */
}
.f-logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
.f-logo-text-right {
  color: var(--cloud);
}
/* --------HIDDEN--------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------PORTFOLIO--------- */
/* --------FILTERS--------- */
.filters {
  padding: 96px 427px 72px 427px;
}
.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  /* padding-top: 96px;
  padding-bottom: 72px; */
}
.filters-btn {
  font-family: "Roboto", "FF DIN", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
}
.filters-btn:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.filters-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}
/* --------EXAMPLES--------- */
.examples {
  padding: 0 156px 120px 156px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  column-gap: 24px;
  justify-content: center;
  /* padding-bottom: 120px; */
}
.examples-item {
  /* border: 1px solid var(--cornflower); */
}
.examples-link {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.examples-text {
  padding-left: 10px;
}
